
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* header */
nav{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #fff;
}
nav a img{
    width: 50px;
    height: 50px;
}

/* Cart */
.Cart {
    height: 100vh;
    width: 400px;
    background-color: #EA7B0C;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 100;
}