
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* header */
nav{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #fff;
}
nav a img{
    width: 50px;
    height: 50px;
}

/* Cart */
.Cart {
    height: 100vh;
    width: 400px;
    background-color: #EA7B0C;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 100;
}
.Cart  .order  .close{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Cart  .order  .close:hover{
    color: #DC3545;
}
.Cart i {
    font-size: 20px;
    cursor: pointer;
}
.Cart span {
    font-size: 20px;
    font-weight: bold;
}
.Cart .info_payer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #EA7B0C;
}
.Cart .info_payer h3 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
.Cart .info_payer button {
    width: 100%;
}

/* ItemCard */
.ItemCard .card h5{
    margin-top: 11px;
}
.ItemCard .card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.ItemCard .delete{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.ItemCard .delete:hover{
    color: #DC3545;
}